<div class="plans-container">
  <h2 class="plan-header">All your favourite artists. In one place.</h2>
  <p class="plan-text">
    Upgrade to premium and get your first two months free of charge!
  </p>
</div>
<div class="album-container">
  <img class="album-image" src="../images/Metallica.jpeg" alt="album 1" />
  <img class="album-image" src="../images/Prefuse73.jpeg" alt="album 2" />
  <img class="album-image" src="../images/Buzzcocks.jpeg" alt="album 3" />
  <img class="album-image" src="../images/PE.jpeg" alt="album 4" />
  <img class="album-image" src="../images/Bonobo.jpeg" alt="album 5" />
  <img class="album-image" src="../images/2pac.jpeg" alt="album 6" />
</div>
