<div class="features-bg">
  <div class="features-container">
    <div class="device-features">
      <img class="features-icon" src="../images/icon-1.png" alt="device icon" />
      <h3 class="features-heading">Stream to Any Device</h3>
      <p class="features-text">
        Play all your favourite music on any device. Anytime. Anywhere.
      </p>
    </div>
    <div class="device-features">
      <img class="features-icon" src="../images/icon-2.png" alt="device icon" />
      <h3 class="features-heading">High Quality Audio</h3>
      <p class="features-text">
        Get the best sounding audio of any streaming service on the web.
      </p>
    </div>
    <div class="device-features">
      <img class="features-icon" src="../images/icon-3.png" alt="device icon" />
      <h3 class="features-heading">Millions of Songs</h3>
      <p class="features-text">
        Find all your favourite artists in our extensive music library.
      </p>
    </div>
  </div>
</div>
