<footer class="footer">
  <div class="logo-container">
    <img
      class="logo"
      src="../images/jukebox-logo-white.png"
      alt="Jukebox logo"
    />
  </div>
  <nav class="nav-footer">
    <div class="link-container">
      <a href="#"
        ><img class="sm-link" src="../images/social-fb.png" alt="Facebook link"
      /></a>
      <a href="#"
        ><img
          class="sm-link"
          src="../images/social-insta.png"
          alt="Instagram link"
      /></a>
      <a href="#"
        ><img
          class="sm-link"
          src="../images/social-twitter.png"
          alt="Twitter link"
      /></a>
      <a href="#"
        ><img class="sm-link" src="../images/social-vimeo.png" alt="Vimeo link"
      /></a>
    </div>
  </nav>
</footer>
