<div class="plans-container">
  <h2 class="plan-header">Your music.Your way.</h2>
  <p class="plan-text">
    Upgrade to premium and get your first two months free of charge!
  </p>
</div>
<div class="card-container">
  <div class="card card-basic">
    <h3 class="card-header">Basic</h3>
    <p class="card-price">Free</p>
    <div class="card-features">
      <p>MP3 audio</p>
      <p>100 songs</p>
      <p>Ads every 10 minutes</p>
      <p>Up to 1 user</p>
      <p>1 device</p>
    </div>
    <button class="card-btn btn-basic">Sign Up</button>
  </div>
  <div class="card card-plus">
    <h3 class="card-header">Plus</h3>
    <p class="card-price">$10/month</p>
    <div class="card-features">
      <p>16-bit audio</p>
      <p>200 songs</p>
      <p>No ads</p>
      <p>Up to 3 users</p>
      <p>2 devices</p>
    </div>
    <button class="card-btn btn-plus">Sign Up</button>
  </div>
  <div class="card card-premium">
    <h3 class="card-header">Premium</h3>
    <p class="card-price">$20/month</p>
    <div class="card-features">
      <p>Lossless Hi-Fi audio</p>
      <p>Unlimited songs</p>
      <p>No ads</p>
      <p>Up to 5 users</p>
      <p>Unlimited devices</p>
    </div>
    <button class="card-btn btn-premium">Sign Up</button>
  </div>
</div>
